/*background: url("/static/img/background.jpg");*/


main{
    margin-right: 20px;
    margin-left: 20px;
    background-color: none;
}

.mini-menu-row-column .material-icons-outlined{
    font-size: 30px; 
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
}

.mini-menu-row-column-two .material-icons-outlined{
    font-size: 30px; 
    color: #9cc670
;
    margin-right: 10px;
}


.first_section{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    background-color: #161616;
    border-radius: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}


.first_section h1{
    color: #fff;
    text-transform: initial;
    margin-top: 5px;
    text-transform: initial;
    font-weight: lighter;
    margin-left: 30px;
    margin-right: 10px;
    font-size: 35px;
    
}
.first_section h6{
    color: rgb(216, 210, 210);
    font-size: 16px;
    
    margin-left: 30px;
    margin-right: 10px;
}

.first_section_two{
    margin-bottom: 30px;
    margin-top: 20px;
}



/*Conect - user*/
.nameUser{
    text-transform:capitalize;
    font-weight: bold;
}



/*second section*/


.second_section{
    background: transparent;
    /*display: flex;*/
    display: none;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-evenly;
    margin-right: 10px;
}
body > main > section.second_section > article{
    margin: 10px 10px;
    width: 250px;
    height: 350px;
}
body > main > section.second_section > article:hover {
    cursor: pointer;
}

/*modified after 750px*/
/*modificados seccion 1,2,3 su width a fit content en lugar de 500px*/
@media screen and (max-width: 750px){
    .second_section{
        display: grid;
    }
}

/*Segunda seccion - fila 1*/
#second_section_row_first{
    background-color:#161616;
    color: azure;
    flex-direction: row;
    display: flex; 
    border-radius: 10px;
    padding: 20px;
    border-left: #4E9F3D 2px solid;
    border-bottom: #4E9F3D 2px solid;
}
#second_section_row_first_columns{
    flex-direction: column;
    display: flex;
}

.completedTasks{
    color: #4E9F3D;
    font-size: 50px;
}

.completedTasksText{
    font-size: 25px;
    font-weight: bold;
    
    margin-bottom: 30px;
    text-transform: uppercase;
}

.completedTasksIco{
    width: 80px;
    height: 80px;
}

.completedTasksIco .material-icons-outlined{
    font-size: 40px;  /* Preferred icon size */
    color: #4E9F3D;
  
}

.completedTasksIco .material-icons-outlined:hover{
    color: #315429;
    background-color: #161616;
    width: 40px;
    height: 40px;
}


/*Segunda seccion - fila 2*/

.second_section_row_second{
    background-color:#161616;
    color: azure;
    flex-direction: row;
    display: flex;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    margin-bottom: 30px;
    border-left: #7ec670 2px solid;
    border-bottom: #7ec670 2px solid;
}

#second_section_row_second_first_columns{
    flex-direction: column;
    display: flex;
}

.pendingTasks{
    color: #7ec670;
    font-size: 50px;
}

.pendingTasksText{
    font-size: 25px;
    font-weight: bold;
    
    margin-bottom: 30px;
    text-transform: uppercase;
}

.pendingTasksIco .material-icons-outlined{
    font-size: 40px;  /* Preferred icon size */
    color: #7ec670;
  
}

.pendingTasksIco .material-icons-outlined:hover{
    color: #4E9F3D;
    background-color: #16161600;
    width: 40px;
    height: 40px;
}

.second_section_row_third{
    background-color:#161616;
    color: azure;
    flex-direction: row;
    display: flex;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    margin-bottom: 30px;
    border-left: #9cc670
    2px solid;
    border-bottom: #9cc670
    2px solid;
}

/*Segunda seccion - fila 3*/
#second_section_row_second_third_columns{
    flex-direction: column;
    display: flex;
}

.incompleteTasks{
    color: #9cc670
;
    font-size: 50px;
}

.incompleteTasksText{
    font-size: 25px;
    font-weight: bold;
    
    margin-bottom: 30px;
    text-transform: uppercase;
}

.incompleteTasksIco .material-icons-outlined{
    font-size: 40px;  /* Preferred icon size */
    color: #9cc670
;
}

.incompleteTasksIco .material-icons-outlined:hover{
    color: #9cc670;
    background-color: #16161600;
    width: 40px;
    height: 40px;
}





/*seccion tres*/
/*erwin tocando cositas*/
/* Estilos del menú vertical */
.menu-container {
    position: fixed;
    left: 0;
    top: 74px;
    bottom: 0;
    width: 80px;
    background-color: #161616;
}

.vertical-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.vertical-menu ul {
    list-style-type: none;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    align-self: center;
}

.vertical-menu li {
    margin-bottom: 35px;
}

.vertical-menu li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.vertical-menu ul li a {
    display: block;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    padding: 10px;
    font-size: 15px;
}

.vertical-menu li a:hover {
    background-color: #9cc670;
}

/* Ajustes de posicionamiento del contenido principal */
.container {
    margin-left: 100px;
}

body > main > section.three_section > div{
    width: 100vw;
    background-color: #161616;
    display: flex;
    justify-content: space-evenly;
}
@media screen and (max-width:780px){
    body > main > section.three_section > div{
        display: grid;
        margin: 20px 0;
    }
}
body > main > section.three_section > div > article{
    max-width: 250px;
    background-color: black;
    margin: 10px 0px;
    border-left: #7ec670 2px solid;
    border-bottom: #7ec670 2px solid;
    color: azure;
    border-radius: 10px;
    padding: 20px;
}
body > main > section.three_section > div > article:hover{
    cursor: pointer;
}

.three_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}
.three_section h1{
    font-size: 30px;
    text-transform:uppercase ;
    color: #fff;
    margin-bottom: 20px;
}


.three_section p{
    font-size: 15px;
    color: rgb(200, 200, 200);
    margin-bottom: 20px;
}

#form-imc{
    display: flex;
    background-color: #0f0f0f;
}
#form-test1, #form-test2{
    display: none;
    background-color: #0f0f0f;
}


form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

select{
    width: 100%;
    height: 45px;
    border: 1px solid #e2dede;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    padding-left: 15px;
    padding-left: 15px;
    color: #a2a2a2;
    margin-top: 20px;
    margin-bottom: 20px;
}

select:focus {
    border-color: #82c337;
    box-shadow: 0 0 5px #82c337;
}

label{
    text-transform:uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #a8a4a4;
    margin-bottom: 5px;
    margin-top: 25px;
}

.container-form{
    width: 650px;
  }
  .form-group{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }


.article-form-cal{
    background-color: #161616;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.form-option-gender{
    background-color: #161616;
    width: 300px;
    border-radius: 10px;
    border-left: #9cc670
    2px solid;
    border-bottom: #9cc670
    2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    margin-top: 20px;
}


.icn-btn-wrapper {
    display: flex;
    align-items: center;
  }

  .img-btn-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 16px;
  }

  .img-btn-container img {
    width: 50px;
    margin-right: 8px;
  }

  .form-option-date{
    
    background-color: #161616;
    width: 300px;
    border-radius: 10px;
    border-left: #9cc670
    2px solid;
    border-bottom: #9cc670
    2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    margin-top: 20px;
  }

  input[type=date]{
    margin-top: 10px;
    width: 250px;
    margin-bottom: 10px;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  input[type=text]{
    margin-top: 10px;
    width: 250px;
    margin-bottom: 10px;
  }


  @media (max-width:799px){
    .container-form{
        width: 100%;
      }
      .form-group{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
      }
  }

@media (max-width:600px){
    form{
        margin-top: 30px;
        display: flex;
       flex-direction: column;
       width: 100%;
       justify-content: center;
       align-items: center;
    }
}   
