<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined">

    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/menu.css">
    <link rel="stylesheet" href="../static/css/home/home.css">
    <link rel="stylesheet" href="../static/css/home/canvas.css">

    <script src="https://kit.fontawesome.com/d54fb62c44.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>

    <title>LIFE</title>
</head>
<body>
    <header>
        <article>
            <a class="logo" href="#"><img src="../static/img/hoja.png" alt="Logo"></a>
        </article>
        <button id="menu-icon-mobile">
            <i class="fas fa-bars" id="menu-mobile-icon-open"></i>
            <i class="fas fa-times" id="menu-mobile-icon-close"></i>
        </button>
        <nav>
            <ul id="menu-first">
                <li class="menu-first-item-class active">
                    <a href="#">Inicio</a>
                </li>
                <li class="menu-first-item-class">
                    <a href="#">Perfil</a>
                </li>
                <li class="menu-first-item-class">
                    <a href="/logout">Cerrar Sesion</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="menu-container">
        <nav class="vertical-menu">
            <ul>
                <li class="menu-item">
                    <a href="#" id="formularios">Formularios</a>
                </li>
                <li class="menu-item">
                    <a href="#" id="graficos">Graficos</a>
                </li>
            </ul>
        </nav>
    </div>

    <main class="container">

        <section class="first_section">
            <div>
                <article>
                    <h1> Hi <span class="nameUser"> {{nombre}}</span>, ¡Bienvenido a Life!</h1>
                </article>
                <article class="first_section_two">
                    <h6>
                        In this section you will be able to know the diagnoses of your tasks of your platform.
                    </h6>
                </article>
            </div>
        </section>

        <section class="three_section">

            <div>
                <article class="article-form-cal" id="first_form">
                    <h1>Calcular <span>IMC</span></h1>
                    <p>Para un cálculo correcto necesitamos algo de información básica sobre ti</p>
                </article>
                <article class="article-form-cal" id="second_form">
                    <h1>Calcular <span>IMC</span></h1>
                    <p>Para un cálculo correcto necesitamos algo de información básica sobre ti</p>
                </article>
                <article class="article-form-cal" id="third_form">
                    <h1>Calcular <span>IMC</span></h1>
                    <p>Para un cálculo correcto necesitamos algo de información básica sobre ti</p>
                </article>
            </div>



            <div id="form-imc">
                <form method="POST" action="">
                    <div class="container-form">
                        <div class="form-group">
                            <article class="form-option-gender">
                                <label>¿Cuál es tu género?</label>
                                <div class="mt-16">
                                    <div class="icn-btn-wrapper" id="gender-icn-btn-wrapper">
                                    <label for="male">
                                        <div class="img-btn-container">
                                        <img class="icon-svg" src="../static/img/form/hombre.png" alt="Hombre" type="image/svg+xml">
                                            Hombre
                                        </div>
                                        <input type="radio" id="male" name="gender" value="male" hidden>
                                    </label>
                                    <label for="female">
                                        <div class="img-btn-container">
                                        <img class="icon-svg" src="../static/img/form/mujer.png" alt="Mujer" type="image/svg+xml">
                                            Mujer
                                        </div>
                                        <input type="radio" id="female" name="gender" value="female" hidden>
                                    </label>
                                    </div>
                                </div>
                            </article>

                            <article class="form-option-date">
                                <label>¿Cuál es tu edad?</label>
                                <article>
                                    <input type="date">
                                </article>
                            </article>
                        </div>
                    
                    <div class="form-group">
                        <article class="form-option-date">
                            <label>¿Cuánto mides?</label>
                            <article>
                                <input type="text" placeholder="180">
                            </article>
                        </article>

                        <article class="form-option-date">
                            <label>¿Cuánto pesas?</label>
                            <article>
                                <input type="text" placeholder="60">
                            </article>
                        </article>

                        </div>
                    </div>

                </form>
            </div>

            <div id="form-test1">
                <form method="POST" action="">
                    <div class="container-form">
                        <div class="form-group">
                            <article class="form-option-gender">
                                <label>¿Cuál es tu género?</label>
                                <div class="mt-16">
                                    <div class="icn-btn-wrapper" id="gender-icn-btn-wrapper">
                                    <label for="male">
                                        <div class="img-btn-container">
                                        <img class="icon-svg" src="../static/img/form/hombre.png" alt="Hombre" type="image/svg+xml">
                                            Hombre
                                        </div>
                                        <input type="radio" id="male" name="gender" value="male" hidden>
                                    </label>
                                    <label for="female">
                                        <div class="img-btn-container">
                                        <img class="icon-svg" src="../static/img/form/mujer.png" alt="Mujer" type="image/svg+xml">
                                            Mujer
                                        </div>
                                        <input type="radio" id="female" name="gender" value="female" hidden>
                                    </label>
                                    </div>
                                </div>
                            </article>
            
                            <article class="form-option-date">
                                <label>¿Cuál es tu edad?</label>
                                <article>
                                    <input type="date">
                                </article>
                            </article>
                        </div>
                    
                    <div class="form-group">
                        <article class="form-option-date">
                            <label>¿Cuánto mides?</label>
                            <article>
                                <input type="text" placeholder="180">
                            </article>
                        </article>
            
                        <article class="form-option-date">
                            <label>¿Cuánto pesas?</label>
                            <article>
                                <input type="text" placeholder="60">
                            </article>
                        </article>
            
                        </div>
                    </div>
            
                </form>
            </div>
            <div id="form-test2">
                <form method="POST" action="">
                    <div class="container-form">
                        <div class="form-group">
                            <article class="form-option-gender">
                                <label>¿Cuál es tu género?</label>
                                <div class="mt-16">
                                    <div class="icn-btn-wrapper" id="gender-icn-btn-wrapper">
                                    <label for="male">
                                        <div class="img-btn-container">
                                        <img class="icon-svg" src="../static/img/form/hombre.png" alt="Hombre" type="image/svg+xml">
                                            Hombre
                                        </div>
                                        <input type="radio" id="male" name="gender" value="male" hidden>
                                    </label>
                                    <label for="female">
                                        <div class="img-btn-container">
                                        <img class="icon-svg" src="../static/img/form/mujer.png" alt="Mujer" type="image/svg+xml">
                                            Mujer
                                        </div>
                                        <input type="radio" id="female" name="gender" value="female" hidden>
                                    </label>
                                    </div>
                                </div>
                            </article>
            
                            <article class="form-option-date">
                                <label>¿Cuál es tu edad?</label>
                                <article>
                                    <input type="date">
                                </article>
                            </article>
                        </div>
                    
                    <div class="form-group">
                        <article class="form-option-date">
                            <label>¿Cuánto mides?</label>
                            <article>
                                <input type="text" placeholder="180">
                            </article>
                        </article>
            
                        <article class="form-option-date">
                            <label>¿Cuánto pesas?</label>
                            <article>
                                <input type="text" placeholder="60">
                            </article>
                        </article>
            
                        </div>
                    </div>
            
                </form>
            </div>

            <!---form 1
            <form method="POST" id="form-calorias-quemadas" action="">
            <article>
                <h1>Calcular <span>calorías</span> quemadas</h1>
                <p>Para un cálculo correcto necesitamos algo de información básica sobre ti</p>
            </article>
                <label>Selecciona un ejercicio para calcular las calorías quemadas</label>
                <select>
                    <option>Caminata</option>
                    <option>Natacion</option>
                    <option>Correr</option>
                </select>
                <article>
                    <article>
                        <label>Duración de la actividad</label>
                        <input name="name" id="name" type="text" required placeholder="0"/>min
                    </article>
                    

                </article>
            </form>
            -->

            

        </section>

        <section class="second_section">

            <article id="second_section_row_first">
                <article id="second_section_row_first_columns">
                    <h3 class="completedTasks">         
                        20
                    </h3>
                    <h3 class="completedTasksText">
                        CALORIAS CONSUMIDAS 
                    </h3>
                    <p>Check your completed tasks in a closer way!</p>
                </article>
                <div class="completedTasksIco">
                    <span class="material-icons-outlined">
                        task_alt
                    </span>
                </div>
            </article>

            <article class="second_section_row_second" id="second_section_row_second">
                <article id="second_section_row_second_first_columns">
                    <h3 class="pendingTasks">
                        20
                    </h3>
                    <h3 class="pendingTasksText">Calorias Quemadas</h3>
                    <p>Check your pending tasks in a closer way!</p>
                </article>
                <div class="pendingTasksIco">
                    <span class="material-icons-outlined">
                        info
                    </span>
                </div>
            </article>

            <article class="second_section_row_third" id="second_section_row_third">
                <article id="second_section_row_second_third_columns">
                    <h3 class="incompleteTasks">
                        20 
                    </h3>
                    <h3 class="incompleteTasksText">INCOMPLETE TASKS</h3>
                    <p>Check your incomplete tasks in a closer way!</p>
                </article>
                <div class="incompleteTasksIco">
                    <span class="material-icons-outlined">
                        highlight_off
                    </span>
                </div>
            </article>
        </section>

    </main>

    <div class="canvas-container" id="canvas-container_one" style="display: none;"><canvas class="canvas" id="myChart1"></canvas></div>
    <div class="canvas-container" id="canvas-container_two" style="display: none;"><canvas class="canvas" id="myChart2"></canvas></div>
    <div class="canvas-container" id="canvas-container_three" style="display: none;"><canvas class="canvas" id="myChart3"></canvas></div>


    <div id="loader">
        <div class="loader-spinner"></div>
    </div>
    
    <script src="../static/js/modules/loader.js"></script>
    <script src="../static/js/modules/menu.js"></script>
    <script src="../static/js/graphics.js"></script>
    <script src="../static/js/chartjs/chart.js"></script>
</body>
</html>
