@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    border:none;
    box-sizing: border-box;
    outline:none;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    list-style: none;
}

/*Alertas*/

:root {
  --primary: #0676ed;
  --background: #222b45;
  --warning: #f2a600;
  --success: #12c99b;
  --error: #e41749;
  --dark: #151a30;
}

.alert {
  min-height: 67px;
  width: 100%;
  max-width: 90%;
  border-radius: 12px;
  padding: 16px 22px 17px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.alert-warning {
  background: var(--warning);
}
.alert-success {
  background: var(--success);
}
.alert-primary {
  background: var(--primary);
}
.alert-dark {
  background: var(--dark);
}
.alert-error {
  background: var(--error);
}
.alert .icon__wrapper {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.253);
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert .icon__wrapper span {
  font-size: 21px;
  color: #fff;
}
.alert p {
  color: #fff;
  font-family: Verdana;
  margin-left: 10px;
  margin-bottom: 0px;
}
.alert p a,
.alert p a:visited,
.alert p a:active {
  color: #fff;
}

.alert .open {
  margin-left: auto;
  margin-right: 5px;
}
.alert .close, .alert .open {
  color: #fff;
  transition: transform 0.5s;
  font-size: 18px;
  cursor: pointer;
}
.alert .close:hover, .alert .open:hover {
  transform: scale(1.3);
}
.alert .icon__wrapper svg {
  height: 24px;
  width: 24px;
  fill: #fff;
}



body{
    font-family: 'Roboto', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #222020;
    background-color: #0f0f0f;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.selected {
  background-color: #00f; /* Color de fondo cuando está seleccionado */
  color: #82c337;
}

label{
    text-transform:uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #626262;
    margin-bottom: 5px;
    margin-top: 25px;
    
}


input[type=text], input[type=email], input[type=tel], input[type=url], input[type=date], input[type=password]{
    width: 400px;
    height: 45px;
   
    border: 1px solid #e2dede;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    padding-left: 15px;
    padding-left: 15px;
    color: #a2a2a2;
  }




  input:focus {
    /* Estilos que deseas aplicar cuando el input está seleccionado */

    border-color: #82c337;
    box-shadow: 0 0 5px #82c337;
  }
  span{
    color: #82c337;
  }


.link-button{
    color: #fff;
}


.button-style-1{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #977365;
    padding: 15px 0px;
    color: #fff;
    cursor: pointer;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 230px;
    height: 50px;
    border: 3px solid #886a5f;
    text-transform: uppercase;
    font-weight: bold;
    font-size:14px;
}


.button-style-2{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px 0px;
    color: #fff;
    cursor: pointer;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 230px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size:14px;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid #fff;
}

.button-style-3{
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px 0px;
  color: #fff;
  cursor: pointer;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 230px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size:14px;
  background-color: #82c337;
  border: 3px solid #82c337;
}

.button-style-3:hover{
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px 0px;
  color: #fff;
  cursor: pointer;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 230px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size:14px;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid rgb(79, 78, 78);
}


.button-style-4{
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px 0px;
  color: #fff;
  cursor: pointer;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 230px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size:14px;
  background-color: #82c337;
  border: 3px solid #82c337;
}

.button-style-4:hover{
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px 0px;
  color: rgb(79, 78, 78);
  cursor: pointer;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 230px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size:14px;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid rgb(79, 78, 78);
}




h3{
    text-transform:uppercase;
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #fff;
}



.button-name{
    padding-left: 30px;
}

.button-icon{
    padding-right: 20px;
}



/*Contenedor*/

.container{
  margin-top: 100px;
}

/*loader*/

#loader {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.916);
    z-index: 9999;
  }
  
  .loader-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #e2dede;
    border-top: 4px solid #82c337;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }