body.mobile-menu-active {
    overflow: hidden;
}

header{
    background-color:#161616;
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 4;
    top: 0px;
  
}

/* main menu */

.menu-first-item-class {
    margin: 0 10px; 
}

.menu-first-item-class a {
    margin-right: 40px;
    color: #fff;
    text-transform: uppercase;
    
    font-size: 13px;
    font-weight:700;
    letter-spacing:2px;
}

.menu-first-item-class a:hover,
.menu-first-item-class.active a {
    padding-bottom: 30px;
    border-bottom: 4px solid #82c337;
    color:#82c337;
}

.logo{
    width: auto;
    margin-left: 10px;
    z-index: 4;
}

.logo h2{
    color: #fff9f9;
    text-transform: uppercase;
    font-size: 13px;
    font-weight:700;

}
.logo img{
    width:  60px;
    height: 60px;
}


/* mobile menu */

/* mobile_menu_icon */

#menu-icon-mobile  {
    background: transparent;
    border: 0;
    outline: 0;
    color: #fcf6f6;
    font-size: 26px;
    z-index: 2;
    margin-right: 30px;
}

#menu-mobile-icon-close {
    display: none;
}

/* closed icon */

body.mobile-menu-active #menu-mobile-icon-close {
    display: block;   
    color: #82c337;
}

/* hamburger icon */

body.mobile-menu-active #menu-mobile-icon-open {
    display: none;   
}

nav {
    display: none;
}

body.mobile-menu-active nav {
    display: block;
}

nav #menu-first {
    display: flex;
}

/* social media icon - mobil-menu*/

.ico{
    display: none;
  }


  @media (min-width:1038px){
    nav {
        display: block;
    }
 
    #menu-icon-mobile {
        display: none;
    }
}   

@media (max-width:1037px){
    
    main{
        padding-top: 30px;
    }

    body.mobile-menu-active nav #menu-first {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        background-color: #0e0e0d;
    }

    .menu-first-item-class .descargar{
        display: none;
    }
    
    body.mobile-menu-active header {
        justify-content: flex-end;
    }

    .ico{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      #menu-first .fab{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        color: #82c337;
        font-size: 25px;
        border: none;
        padding-right: 40px;
    }

    #menu-first .fab:hover{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        color: #f1e8e8;
        border: none;
        padding-right: 40px;
        font-size: 25px;
    }
    #menu-first .ico-1:hover{
        border: none;
        padding: 0;
    }
    #menu-first .ico-2:hover{
        border: none;
        padding: 0;
    }

    #menu-first .ico-3:hover{
        border: none;
        padding: 0 ;
    } 
    footer{
        display: none;
    }
}

